<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZKCQPlotform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ZKCQPlotform.Properties.Settings>
            <setting name="usbbytecnt" serializeAs="String">
                <value>102400</value>
            </setting>
            <setting name="usbframecnt" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="usbstartcom" serializeAs="String">
                <value />
            </setting>
            <setting name="usbstopcom" serializeAs="String">
                <value />
            </setting>
            <setting name="netip" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="netport" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="netstartcom" serializeAs="String">
                <value />
            </setting>
            <setting name="netstopcom" serializeAs="String">
                <value />
            </setting>
            <setting name="uartheartflag" serializeAs="String">
                <value>eb 90</value>
            </setting>
            <setting name="uartheartlen" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="uartdatelen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uartstartcom" serializeAs="String">
                <value />
            </setting>
            <setting name="uartstopcom" serializeAs="String">
                <value />
            </setting>
            <setting name="netframecnt" serializeAs="String">
                <value />
            </setting>
            <setting name="uartframecnt" serializeAs="String">
                <value />
            </setting>
        </ZKCQPlotform.Properties.Settings>
    </userSettings>
</configuration>